.logo{
    color: rgba(73, 85, 103, 1);
    font-size: 50px;
    font-weight: 700;
    margin-right: 50px;
}
.logo--light{
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width:800px){
    .logo--light{
        margin-right: 0;
        margin-bottom: 30px;
        margin-left: -20px;
    }
}

@media only screen and (max-width:700px){
    .logo{
        margin-left: 250px;
        margin-right: 0;
    }
    .logo--light{
        margin-left: -20px;
    }
}

@media only screen and (max-width:650px){
    .logo{
        margin-left: 230px;
    }
    .logo--light{
        margin-left: -20px;
    }
}

@media only screen and (max-width:600px){
    .logo{
        margin-left: 200px;
    }
    .logo--light{
        margin-left: -20px;
    }
}

@media only screen and (max-width:550px){
    .logo{
        margin-left: 180px;
    }
    .logo--light{
        margin-left: 0;
    }
}

@media only screen and (max-width:500px){
    .logo{
        margin-left: 150px;
    }
    .logo--light{
        margin-left: -20px;
    }
}

@media only screen and (max-width:450px){
    .logo{
        margin-left: 120px;
    }
    .logo--light{
        margin-left: -20px;
    }
}

@media only screen and (max-width:400px){
    .logo{
        margin-left: 90px;
    }
    .logo--light{
        margin-left: -20px;
    }
}
